# Data Processing
In this notebook, we process crime data in Los Angeles.

### Importing Data
The first step is to import the data from a CSV file and load it into a Pandas DataFrame:

In [41]:
import pandas as pd
import geopandas as gpd

In [42]:
df = pd.read_csv('LA\Crime_Data_from_2020_to_Present.csv')

In [43]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,M,H,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,1501,0,X,X,726.0,POLICE FACILITY,NaN,NaN,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,X,X,409.0,BEAUTY SUPPLY STORE,NaN,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638240,220314584,08/02/2022 12:00:00 AM,08/02/2022 12:00:00 AM,10,3,Southwest,334,2,354,THEFT OF IDENTITY,0100 1822 0922,34,F,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,4300 W 28TH ST,NaN,34.0311,-118.3335
638241,221017286,12/05/2022 12:00:00 AM,12/01/2022 12:00:00 AM,1800,10,West Valley,1047,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,1822 0385,68,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,17200 BURBANK BL,NaN,34.1722,-118.5077
638242,221005507,02/10/2022 12:00:00 AM,02/09/2022 12:00:00 AM,1530,10,West Valley,1024,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,18800 SHERMAN WY,NaN,34.2011,-118.5426
638243,221105477,02/10/2022 12:00:00 AM,02/08/2022 12:00:00 AM,2000,11,Northeast,1171,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 FOUNTAIN AV,NaN,34.0958,-118.2787
638244,221605448,02/15/2022 12:00:00 AM,02/14/2022 12:00:00 AM,1800,16,Foothill,1613,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0385 1300,61,F,H,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,12700 VAN NUYS BL,NaN,34.2755,-118.4092

### Columns
I am displaying all columns to then remove those that will not be needed for analysis.

In [44]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [45]:
df.pop("Part 1-2") 
df.pop("Rpt Dist No")
df.pop("Crm Cd 1")
df.pop("Crm Cd 2")
df.pop("Crm Cd 3")
df.pop("Crm Cd 4")
df.pop("Cross Street")
df.pop("Status")
df.pop("Status Desc")

# Mocodes 'Crm Cd 1',
#  'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4'
# Status Status Desc
#Rpt Dist No Part 1-2

0          Adult Other
1          Invest Cont
2         Adult Arrest
3          Invest Cont
4          Invest Cont
              ...
638240     Invest Cont
638241     Invest Cont
638242     Invest Cont
638243     Invest Cont
638244     Invest Cont
Name: Status Desc, Length: 638245, dtype: object

In [46]:
df.describe()

,DR_NO,TIME OCC,AREA,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,LAT,LON
count,6.382450e+05,638245.000000,638245.000000,638245.000000,638245.000000,638238.000000,223380.000000,638245.000000,638245.000000
mean,2.118575e+08,1335.251665,10.728393,501.376156,30.027637,303.389768,361.935675,33.952557,-117.933872
std,8.276958e+06,654.599384,6.085580,208.145211,21.667801,216.155770,123.831425,2.029710,7.040360
min,8.170000e+02,1.000000,1.000000,110.000000,-1.000000,101.000000,101.000000,0.000000,-118.667600
25%,2.018107e+08,900.000000,6.000000,330.000000,13.000000,101.000000,308.000000,34.012800,-118.429600
50%,2.113138e+08,1415.000000,11.000000,442.000000,31.000000,203.000000,400.000000,34.058300,-118.321500
75%,2.207119e+08,1900.000000,16.000000,626.000000,45.000000,501.000000,400.000000,34.163100,-118.273900
max,2.321048e+08,2359.000000,21.000000,956.000000,120.000000,971.000000,516.000000,34.334300,0.000000

### Resolving the issue with displaying the crime time
In my project, I encountered a problem with correctly displaying the event times, as they were stored in two columns: "Date OCC" and "Time OCC". Additionally, in the "Time OCC" column, the time was stored in an incorrect format, which caused errors when displaying data in Power BI.
To solve this problem, I created a new column named "DATE TIME OCC" which combined the date and time of the event into one column. This allowed me to obtain the correct date and time format, which greatly facilitated further work with the data.

In [48]:
df[df['TIME OCC']>2300].head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,LOCATION,LAT,LON
69,200104054,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,2330,1,Central,624,BATTERY - SIMPLE ASSAULT,0416 1266 2004,28,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",WALL,34.0495,-118.2458
76,200104066,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,2315,1,Central,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),1822 0329 0910,0,X,X,122.0,"VEHICLE, PASSENGER/TRUCK",NaN,NaN,9TH ST,34.0444,-118.2593
130,200706211,02/17/2020 12:00:00 AM,02/16/2020 12:00:00 AM,2350,7,Wilshire,624,BATTERY - SIMPLE ASSAULT,0444,29,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",6000 W 6TH ST,34.0677,-118.3548
152,200104287,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,2345,1,Central,624,BATTERY - SIMPLE ASSAULT,0913 0416 0910 1820 2048,21,F,H,834.0,LA UNION STATION (NOT LINE SPECIFIC),400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",800 N ALAMEDA ST,34.0563,-118.2374
153,200104289,01/05/2020 12:00:00 AM,01/03/2020 12:00:00 AM,2315,1,Central,440,THEFT PLAIN - PETTY ($950 & UNDER),2032 0344,26,F,C,735.0,NIGHT CLUB (OPEN EVENINGS ONLY),NaN,NaN,600 S SPRING ST,34.0460,-118.2509

In [31]:
df["DATE TIME OCC"] = df["TIME OCC"].apply(str)

In [32]:
df["DATE TIME OCC"] = df["DATE TIME OCC"].apply(lambda x : x.zfill(4))

In [33]:
df["DATE TIME OCC"] = df["DATE TIME OCC"].apply(lambda A : A[:2] + ':' + A[2:])

In [34]:
df["TIME OCC"] = df["DATE TIME OCC"]

In [35]:
df["DATE TIME OCC"] = df["DATE OCC"].apply(lambda x : x[:10]) +" "+ df["DATE TIME OCC"]

In [36]:
df["Date Rptd"] = df["Date Rptd"].apply(lambda x : x[:10])

In [37]:
df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,LOCATION,LAT,LON,DATE TIME OCC
0,10304468,01/08/2020,01/08/2020 12:00:00 AM,22:30,3,Southwest,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,F,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",1100 W 39TH PL,34.0141,-118.2978,01/08/2020 22:30
1,190101086,01/02/2020,01/01/2020 12:00:00 AM,03:30,1,Central,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,M,H,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,700 S HILL ST,34.0459,-118.2545,01/01/2020 03:30
2,200110444,04/14/2020,02/13/2020 12:00:00 AM,12:00,1,Central,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,1501,0,X,X,726.0,POLICE FACILITY,NaN,NaN,200 E 6TH ST,34.0448,-118.2474,02/13/2020 12:00
3,191501505,01/01/2020,01/01/2020 12:00:00 AM,17:30,15,N Hollywood,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,5400 CORTEEN PL,34.1685,-118.4019,01/01/2020 17:30
4,191921269,01/01/2020,01/01/2020 12:00:00 AM,04:15,19,Mission,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,X,X,409.0,BEAUTY SUPPLY STORE,NaN,NaN,14400 TITUS ST,34.2198,-118.4468,01/01/2020 04:15

### Conversion of  Codes to Ethnic Group Names
I cleaned up the "Vict Descent" column containing data on the ethnicity of victims by converting coded letters into more easily understandable ethnic names.

In [16]:
print(df["Vict Descent"].unique())

['B' 'H' 'X' 'W' 'A' 'O' nan 'C' 'F' 'K' 'I' 'V' 'Z' 'J' 'P' 'G' 'U' 'D'
 'S' 'L']

In [54]:
ethnic_groups = {"A": "Asian", "B": "Black", "C": "Other", "D": "Asian", "F": "Asian", "G": "Other", "H": "Latino", "I": "Other", "J": "Asian", "K": "Asian", "L": "Asian", "O": "Other", "P": "Other", "S": "Other", "U": "Other", "V": "Asian", "W": "White", "Z": "Asian"}

df["Vict Descent"] = df["Vict Descent"].replace(ethnic_groups)

### Saving cleaned data to CSV file

In [59]:
df.to_csv('LACrimeAfterProcessing.csv')